body{
    font-family: 'Source Sans Pro', sans-serif;

}
.navbar{
    background-color:#2b2b2b;
    color:white;
    border-radius: 0px;
    height:2em;
    padding: 10px;
    font-size: 20px;
    
}
.nav-links{
    color:white;
    margin:10px;
    
}

.nav-links:hover{
  text-decoration: none;
  background-color: white;
  color: black;
}